
<p>Enter your comment here:</p>
<form id="submit_comment" action="/review/<%=@current_review.id%>/comment" method="post">
  <input type="text" name="content" placeholder="Comment Text"> <br> <br>
  <input type="submit" value="Submit Comment">
</form>
