
<p>Enter your comment here:</p>
<form action="/review/<%=@current_review.id%>/comment" method="post">
  <input type="text" name="content" placeholder="Comment Text"> <br> <br>
  <button type="submit">Submit Comment</button>
</form>
