<h2> Create a New Reflection</h2>

<form action="/review/new" method="post">
  Book Tile To Reflect On: <input type="text" placeholder="Title" name="book_title">
  Author: <input type="text" placeholder="Author" name="author">
  When Did You Start Reading This Title? <input type="text" placeholder="Star" name="author">


</form>
