<h3> Log In:</h3>

<div id="login">
<form action="/auth/login" method="post">
  <input type="hidden" name ="_method" value ="put">
  <input type= "text" name="email" placeholder="email address">
  <input type="password" name="password" placeholder="password">
  <button type='submit'>Log Me In!</button>
</form>
</div>

